name: job_report_app
description: A Flutter Web Job Report App
publish_to: 'none'
version: 1.0.0

environment:
  sdk: '>=2.18.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.0.5
  fl_chart: ^0.70.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
